@page "/"
@implements IDisposable

<h1>Добро пожаловать в интернет-магазин "Всё о книгах"</h1>
Текущее время: @now;

@code {
    private DateTime now = DateTime.Now;
    private bool _disposed;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Task.Run(async () =>
        {
            while (!_disposed)
            {
                await Task.Delay(1000);
                now = DateTime.Now;
                await InvokeAsync(() => StateHasChanged());
            }
        });
    }
    public void Dispose()
    {
        _disposed = true; 
    }
  }